#### Student: Tazhibay Aizhan
#### Group: Business Analytics and Big Data(2 course,English department,after college)
#### Tutor: Zhumadil Nurbol Abdirakhymuly
<h2 style="text-align: center;"><b> Keys 8(Pandas library,Series,Dataframes,merge,join,concat,Saving files) </b></h2>

<h3 style="text-align: center;"><b> Task 1 Ecommerce  </b></h3>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('C:\\Users\\Айдана\\Downloads\\Ecommerce p.csv')
data.head()

,ID,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,1,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.011930e+15,20-Feb,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,2,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337760e+15,18-Nov,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,3,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.759580e+11,19-Aug,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,4,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.011580e+15,24-Feb,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,5,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6.011460e+15,25-Oct,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

#### 1. Найти максимум (Purchase price)

In [3]:
data['Purchase Price'].max()

99.99

Так как в вопросе нужно найти максимум а в должном ответе стоит :50.34730200000025 можно предположить что вопрос "Найти среднюю " был пропущен и нумерация должна сместиться на 1.

#### 1. Найти среднюю(Purchase price)

In [4]:
data['Purchase Price'].mean()

50.34730200000025

#### 2. Найти максимум (Purchase price)

In [5]:
data['Purchase Price'].max()

99.99

#### 3. Найти минимум (Purchase price)

In [6]:
data['Purchase Price'].min()

0.0

#### 4. Сколько всего посетителей сайта выбрали ‘en’ язык

In [7]:
condition = data['Language'] == 'en'
print(condition.sum())

1098

#### 5.Сколько Людей работают на позиции ‘Lawyer’

In [8]:
condition = data['Job'] == 'Lawyer'
print(condition.sum())

30

#### 6. Сколько людей совершило покупку во время AM и сколько людей совершило покупку во время PM?

In [9]:
condition1 = data['AM or PM'] == 'AM'
condition2 = data['AM or PM'] == 'PM'
print('PM: ',condition2.sum(),'\nAM: ',condition1.sum())

PM:  5068
AM:  4932

#### 7.Какие 5 самых распространенных должностей?

In [62]:
condition=data.groupby(['Job'])['ID'].count()
top5=condition.sort_values(ascending=False)
top5.head(5)

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: ID, dtype: int64

#### 8.Кто-то совершил покупку по лоту: «90 WT», какова была цена покупки для этой сделки?

In [13]:
data1=data.set_index('Lot')
data1.loc['90 WT','Purchase Price']

75.1

#### 9.Какая электронная почта у человека со следующим номером кредитной карты: 4926535242672853

In [15]:
data1=data.set_index('Email')
data1.loc['bondellen@williams-garza.com','Credit Card']

4926540000000000.0

Не существует кредитного номера 4926535242672853 с электронным адресом bondellen@williams-garza.com, правильный номер карты: 4926540000000000

#### 10.Сколько людей имеют American Express в качестве поставщика кредитных карт и сделали покупку на сумму свыше 95 долларов?

In [16]:
data1=data[(data['CC Provider']=='American Express') & (data['Purchase Price']>95)]
data1['ID'].count()

39

#### 11.Сколько людей имеют кредитную карту, срок действия которой истекает в 2025 году?

In [67]:
data[data['CC Exp Date'].apply(lambda x: x[0:2]=='25')].shape[0]

1033

#### 12.	Какие 5 самых популярных почтовых провайдеров / хостов (например, gmail.com, yahoo.com и т. Д ...)

In [17]:
condition=data.groupby(['CC Provider'])['ID'].count()
top5=condition.sort_values(ascending=False)
top5.head(5)

CC Provider
JCB 16 digit        1716
VISA 16 digit       1715
JCB 15 digit         868
American Express     849
Maestro              846
Name: ID, dtype: int64

<h3 style="text-align: center;"><b> Task 2 Salaries  </b></h3>

In [18]:
df=pd.read_excel('C:\\Users\\Айдана\\Downloads\\Salaries t.xlsx')
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

#### 1.	Какова средняя BASEPAY?

In [19]:
df['BasePay'].mean()

66325.44884050643

#### 2.	Какова максимальная сумма OvertimePay в наборе данных?

In [20]:
df['OvertimePay'].max()

245131.88

#### 3.	Как профессия у JOSEPH DRISCOLL?

In [21]:
df1=df.set_index('EmployeeName')
df1.loc['JOSEPH DRISCOLL','JobTitle']

'CAPTAIN, FIRE SUPPRESSION'

#### 4.	Сколько зарабатывает JOSEPH DRISCOLL?

In [22]:
df1.loc['JOSEPH DRISCOLL','TotalPay']

270324.91

#### 5.	Как зовут самого высокооплачиваемого человека (включая Benefits)?

In [23]:
df.sort_values(by=['TotalPay','TotalPayBenefits'],ascending=False)
df.head(1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

#### 6.	Как зовут самого малооплачиваемого человека (включая Benefits)?

In [24]:
df.sort_values(by=['TotalPay','TotalPayBenefits'],ascending=True)
df.tail(1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

#### 7.	Какова была средняя BasePay всех сотрудников за год? (вывести от 2011-2014)

In [54]:
df.groupby(['Year'])['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

#### 8.	Сколько существует уникальных должностей?

In [57]:
len(df['JobTitle'].unique())

2159

#### 9.	Какие 5 самых популярных вакансий?

In [61]:
condition=df.groupby(['JobTitle'])['Id'].count()
top5=condition.sort_values(ascending=False)
top5.head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

#### 10.	У скольких людей в названии должности есть слово Chief?

In [85]:
df1=df[df.JobTitle.apply(lambda x : 'Chief' in x)]
df1['Id'].count()

423

#### 11.Сколько рабочих мест было представлено только одним человеком в 2013 году? (например, звания вакансий только один раз в 2013 году?)

In [63]:
condition = df[df['Year']==2013]
condition2 = condition['JobTitle'].value_counts()
condition3=condition2[condition2==1]
condition3.size

202