### Student: Tazhibay Aizhan
### Group: Business Analytics and Big Data(2 course)
### Tutor: Zhumadil Nurbol Abdirakhymuly
### Keys 5 (Dictionaries and operations of them)

##### Задача №1
###### 1. a = {1: 'one', 2: 'two', 3: 'two'}
Добавьте ключ 4 и значение 'four' двумя способами
Измените значение для ключа 3 на 'three'
Выведите все ключи (2 способами)
Выведите все значения (2 способами)
###### 2. b = {5: 'five', 6: 'six'}
Объедините два словаря

In [6]:
#1.1 sposob
a = {1: 'one', 2: 'two', 3: 'two'}
a[4]="four"
print(a)

{1: 'one', 2: 'two', 3: 'two', 4: 'four'}

In [8]:
#1.2 sposob
a = {1: 'one', 2: 'two', 3: 'two'}
a.setdefault(4,"four")
print(a)

{1: 'one', 2: 'two', 3: 'two', 4: 'four'}

In [9]:
#2
b = {5: 'five', 6: 'six'}
a.update(b)
print(a)

{1: 'one', 2: 'two', 3: 'two', 4: 'four', 5: 'five', 6: 'six'}

##### Задача №2
school = {'1a':20,'1б':22,'2а':18,'2б':28,'3а':15,'4а':30,'5а':30,'6б':13,'6а':16}
###### 1. сколько учащихся во всей школе? В каком классе максимальное число учащихся? Кол-во максимального класса учащихся?
Вывести количество учащихся в начальной школе(при условии что классы в начальной школе начинаются с 1 по 4)?

In [76]:
school = {'1a':20,'1б':22,'2а':18,'2б':28,'3а':15,'4а':30,'5а':30,'6б':13,'6а':16}
n=sum(school.values())
print("Всего в школе {0} учеников".format(n))

Всего в школе 192 учеников

In [77]:
school = {'1a':20,'1б':22,'2а':18,'2б':28,'3а':15,'4а':30,'5а':30,'6б':13,'6а':16}
n=max(school, key=school.get)
school.pop(n)
d=max(school, key=school.get)
print("В классе {0},{1} максимальное количество учеников".format(n,d))

В классе 4а,5а максимальное количество учеников

In [75]:
school = {'1a':20,'1б':22,'2а':18,'2б':28,'3а':15,'4а':30,'5а':30,'6б':13,'6а':16}
n = 0
for i,j in school.items():
    if j > n:
        n=j
print("Кол-во максимального класса учащихся: {0}".format(n))

Кол-во максимального класса учащихся: 30

In [150]:
school = {'1a':20,'1б':22,'2а':18,'2б':28,'3а':15,'4а':30,'5а':30,'6б':13,'6а':16}
nach_k=["1a","1б","2а","2б","3а","4а","4б"]
d=[]
for key in school.keys():
    if key in nach_k:
        d.append(school[key])
s=0           
for i in d:
    s+=int(i)
print("Количество учащихся в начальной школе\n(при условии что классы в начальной школе начинаются с 1 по 4): {0}".format(s))

Количество учащихся в начальной школе
(при условии что классы в начальной школе начинаются с 1 по 4): 133